
body {
  font-family: 'Expletus Sans', cursive;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
.navbar-inner {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #6B90D4, #29477F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6B90D4), to(#29477F));
  background-image: -webkit-linear-gradient(top, #6B90D4, #29477F);
  background-image: -o-linear-gradient(top, #6B90D4, #29477F);
  background-image: linear-gradient(to bottom, #6B90D4, #29477F);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6B90D4', endColorstr='#ff29477F', GradientType=0);
}
.navbar .nav > li > a {
    color: #ffffff;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #29477F;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #eee;
    text-shadow: 0 1px 0 #052A6E;
    text-decoration: none;
}
h1, h2, h3 {
  color: #577393;
}
#header {
  background-image: url('../img/header_bg.jpg');
  background-size: 100% 100%;
}
#header .container {
  padding: 200px 0 0;
  position: relative;
  background: url('../img/stripe_top.png') no-repeat 770px bottom;
}
#header hgroup {
  padding: 60px 0 25px;
  background: url('../img/ecke_01.png') no-repeat 0 0;
}
#header h1 {
  text-transform: uppercase;
  font-size: 38.5px;
  line-height: 38px;
}
#header h1 span {
  font-size: 60px;
}
#header h2 {
  font-size: 30px;
}
#header hgroup h2 {
  padding-left: 1.25em;
}
#header h1,
#header h2 {
  color: #fff;
  margin: 0 0 0 70px;
}
#stripe-top {
  position: absolute;
  bottom: 0;
  right: 160px;
}
#stripe-content {
  width: 9px;
  height: 100%;
  background-color: #577393;
}
#ecke-right {
  position: absolute;
  right: 0;
  bottom: 15px;
}

#content {
  padding-top: 10px;
  background: url('../img/stripe_content.png') repeat-y 770px 0;
}

#menu-main {
  list-style: none;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 10px;
}
#menu-main li {
  line-height: 26px;
}
#menu-main a {
  color: #577393;
}

footer {
  background: url('../img/header_bg.jpg') center bottom;
  background-size: cover;
}
footer .container {
  padding: 2em 0;
  min-height: 200px;
  background: url('../img/stripe_bottom.png') no-repeat 770px 0;
}



